{% extends "base-no-search.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="container">

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="id_username">{{ form.username.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <input id="id_username" class="input" type="text" name="username">
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="id_password">{{ form.password.label_tag }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <input id="id_password" class="input" type="password"name="password">
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="button is-link" type="submit" value="Log in">
                    <input type="hidden" name="next" value="{% url 'home'%}">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <p class="control"><a href="{% url 'password_reset' %}">Lost password?</a></p>
                </div>
            </div>
        </div>
    </div>
         

</form>

</div>

{# Assumes you setup the password_reset view in your URLconf #}


<hr>

<div class="mt-4">
<ul>
    <li><a href="{% url 'home' %}">Inicio</a></li>
</ul>
</div>
{% endblock %}
