{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="content">
      <h3> Hola {{ user.get_username }} </h3>
      <p>
        <a class="button is-light" href="{% url 'logout' %}">Cierra Sesion</a>
      </p>
    </div>
    {% else %}
    <div class="content">
      <div class="columns">
        <div class="column is-narrow">
          <a class="button is-link" href="{% url 'login' %}">Inicia Sesion</a>
        </div>

        <div class="column is-narrow">
          <a class="button is-light" href="{% url 'register' %}">Registrate</a>
        </div>
      </div>
    </div>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <hr>

    <div class="content">
    <h5> Ultimos productos </h5>
      <ul>
        {% for producto in latest_products %}
          <li>
            <a href="{% url 'product-detail' producto.pk %}">
              {{ producto.nombre }}
            </a>
            - {{ producto.precio }}
          </li>
        {% empty %}
          <li>Aun no hay productos disponibles.</li>
        {% endfor %}
      </ul>

    </div>
    <hr>
    <ul>
      <li><a href="{% url 'product-list' %}">Ver Lista de Productos Completa</a></li>
    </ul>
{% endblock %}