{% extends "base-no-search.html" %}

{% block content %}
    

    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    
    {% if is_colaborador  %}

    <div class="content" style="margin-top:0em;padding-top:0em;">
      <p>
        <a class="button is-dark" href="{% url 'pedidos-list' %}">Ver pedidos</a>
      </p>
    </div>

    {% else %}

    <div class="content" style="margin-top:0em; padding-top: 0em;">
      <form action="{% url 'product-list' %}" method="get">
          <input class="input is-rounded" style="border-color:rgb(50,94,125);" type="text" name="q" placeholder="Busca tu producto...">
      </form>
    </div>

    <div class="columns">
    {% if user.is_authenticated %}
      <div class="column is-narrow">
        <a class="button is-dark" href="{% url 'pedidos-cliente' %}">Ver pedidos</a>
      </div>
    {% endif %}
      <div class="column is-narrow">
        <a class="button is-dark" href="{% url 'product-list' %}">Ver Lista de Productos Completa</a>
      </div>
    
    </div>
    

    <div class="content">
    <h5> Ultimos productos </h5>
      <ul>
        {% for producto in latest_products %}
        <div class="card" style="background-color:rgb(50,94,125); color:white;padding:1.5ch;padding-left:4ch; margin-bottom: 1ch; margin-right:50em;">
          <li>
            <a href="{% url 'product-detail' producto.pk %}" style="color:white;">
              {{ producto.nombre }}
            - {{ producto.precio }}
            </a>
          </li>
        </div>
        {% empty %}
          <li>Aun no hay productos disponibles.</li>
        {% endfor %}

      </ul>

    </div>

    {% endif %}
    
{% endblock %}