{% extends "base-no-search.html" %}

{% block content %}

    <form method="GET">
        <div class="content">
            <input class="input is-rounded" style="border-color:rgb(50,94,125);" type="text" name="nombre__icontains" placeholder="Busca tu producto...">
        </div>

        <div class="columns">

            <div class="column is-5">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" for="id_precio__lt">Precio menor a:</label>
                    </div>
                    <div class="field-body">
                        <input class="input" type="number" step="10" style="border-color:rgb(50,94,125);" id="id_precio__lt" name="precio__lt">
                    </div>
                </div>
            </div>
            <div class="column is-5">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label" for="id_precio__gt">Precio mayor a:</label>
                    </div>
                    <div class="field-body">
                        <input class="input" type="number" step="10" style="border-color:rgb(50,94,125);" id="id_precio__gt" name="precio__gt">
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <input type="submit" value="Filtrar" class="button is-dark">
            </div>
        </div>

    </form>

    <hr>
    <div class="columns is-multiline">
      {% for producto in filter.qs %}
          <div class="column is-4">
              <div class="card">
                  <div class="card-image">
                      <figure class="image">
                          <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible">
                      </figure>
                  </div>
                  <div class="card-content">
                      <h6>
                          <a href="{% url 'product-detail' producto.pk %}">
                              {{ producto.nombre }}
                          </a>
                      </h6>
                      <p>$ {{ producto.precio }}</p>
                  </div>
              </div>
          </div>
      {% empty %}
          <div class="content">
              <h6>Aun no hay productos disponibles.</h6>
          </div>
      {% endfor %}
    </div>

{% endblock %}