<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title> LinioExp </title>
  </head>
  <body style="height:100%" class="has-background-light">
    <nav class="navbar" style="background-color:rgb(50,94,125);">
      <div class="navbar-brand" style="margin: 0.6em; margin-left: 1.5em;">
        {% load static %}
        <img src="{% static 'main/logo_linio.png' %}" href="{% url 'home' %}" style="margin-top:1em; margin-bottom:1em;">

      </div>
      {% if user.is_authenticated %}
      <div class="navbar-end" style="margin-right: 1em;">
        <h3 class="navbar-item" style="color:white;">
          Hola {{ user.get_username }}
        </h3>
        <div class="navbar-item">
          <a class="button is-dark" href="{% url 'logout' %}">Cierra Sesion</a>
        </div>
      </div>
      {% else %}
      <div class="navbar-end" style="margin-right: 1em;">
        <div class="navbar-item">
          <div class="column is-narrow">
            <a class="button is-dark" href="{% url 'login' %}">Inicia Sesion</a>
          </div>

          <div class="column is-narrow">
            <a class="button is-dark" href="{% url 'register' %}">Registrate</a>
          </div>
        </div>
      </div>
      {% endif %}
    </nav>
    <div class="has-background-light">
      <section class="section" style="padding-top:1.3em; padding-botton: 1em; margin-bottom: 0em;">
        <div class="container">

          <div class="content">
            <form action="{% url 'product-list' %}" method="get">
                <input class="input is-rounded" type="text" name="q" placeholder="Busca tu producto...">
            </form>
          </div>
          {% block content %}
          {% endblock %}
        </div>
      </section>
    </div>
  </body>
</html>