<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title> LinioExp </title>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-2">
            Linio Express
          </h1>
        </div>
      </div>
    </section>
    <div class="has-background-light">
      <section class="section">
        <div class="container">

          {% block content %}
          {% endblock %}
        </div>
      </section>
    </div>
  </body>
</html>