<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title> LinioExp </title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title is-1"> Linio Express </h1>
        <hr>
        <div class="content">
          <form action="{% url 'product-list' %}" method="get">
              <input class="input is-rounded" type="text" name="q" placeholder="Busca tu producto...">
          </form>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </section>
  </body>
</html>